/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-set-2015, 17.40.23
    Author     : Giovanni
*/
body{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    color: #ccc;
    overflow-y: scroll;
    background: #131518;
    
    padding-top: 70px;
    padding-bottom: 30px;
    
/*    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;*/
}
a, a:active, a:visited {
    text-decoration: none;
    color: #f80;
}
a:hover {
    color: #fc0;
}
.hr,hr {
    border: 0;
    border-top: 1px solid #2a2e34;
    height: 1px;
    margin: 20px 0;
}
